@import "flex-grid.css";

body {
    margin: 0;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.ju-cen{
    justify-content: center
}
a{
    text-align: center;
    text-decoration: none;
}
.main a{
    font-size: 10pt;
    padding: 1% 4%;
    color: #8a2be2;
}

.main a:hover{
    background-color: #b39ddb;
}
.flex-colon{
    flex-direction: column;
}
.flex-roww{
    flex-direction: row;
}
.flex{
    display: flex;
}