<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Домашнее задание №3.2 по vue</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="css/style2.css">
</head>

<body>
    <section id="app">
        <div v-for="(service, index) in services">
            <input type="checkbox" :id="index" :value="index" v-model="select">
            <label :for="index">{{ service.title }} : {{ service.price }}</label>
        </div>
        <p>Стоимость услуг: {{ sum }}</p>
    </section>

    <script src="js/script2.js"></script>
</body>

</html>