<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Домашнее задание №3.1 по vue</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section id="app">
        <input type="text" v-model="request" placeholder="Введите название статьи">
        <div>
            <div v-for="article in results" class="list-article">
                <img :src="article.image" alt="any image">
                <p>{{ article.title.toUpperCase() }}</p>
            </div>
        </div>
    </section>

    <script src="js/script.js"></script>
</body>

</html>