.list-article {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.list-article>img {
    width: 100px;
    border-radius: 5%;
}

.list-article>p {
    line-height: 100px;
    margin: 0 20px;
    font-family: Verdana;
}