.body {
    margin: 0;
}
main {
    background-image: url("/img/fon_1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: orange;
    margin: 0;
    padding: 0;
}

.mainmenu, .sabmenu {
    list-style-type: none;
}

.sabmenu {
    display: none;
}

.mainmenu > li {
    display: inline-block;
}

.mainmenu a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

.mainmenu li {
    border-bottom: 3px solid transparent;
}

.mainmenu li:hover {
    border-bottom: 3px solid orangered;
}

.cards {
    padding-top: 10px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18pt;
    list-style-type: none;
    max-width: 600px;
    margin: 0 auto;
}

.cards {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bution {
    display: inline-block;
    padding: 10px;
    background-color: orange;
    width: 99%;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    font-size: 18pt;
    color: blue;
}

.pagination {
    text-align: center;
}

.pagination a.active {
    background-color: orange;
}

.pagination > a {
    display: inline-block;
    padding: 10px;
    font-size: 18pt;
    text-decoration: none;
    border: 3px solid orange;

}

